public/index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="theme-color" content="#eeeeee"/>
    <meta name="msapplication-TileColor" content="#eeeeee"/>
    <meta name="msapplication-TileImage" content="./images/lucotmo.svg"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <link rel="apple-touch-startup-image" href="./images/lucotmo.svg"/>
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico"/>
    <link rel="icon" type="image/png" href="./images/lucotmo.png"/>
    <link rel="apple-touch-icon" href="./images/lucotmo.svg"/>
    <link rel="author" type="text/plain" href="./humans.txt"/>
    <link rel="sitemap" type="application/xml" title="Sitemap" href="./sitemap.xml"/>
    <title>Boilerplate Frontend</title>
    <meta name="description" content="Boilerplate para el desarrollo de proyectos Frontend">
    <meta name="application-name" content="Boilerplate Frontend">
    <link rel="stylesheet" href="./css/app.css">
  </head>
  <body>
    <main class="App">
      <h1 class="App-title">Boilerplate Frontend</h1><i class="fa fa-smile-o fa-5x"></i><img class="App-logo" src="./images/lucotmo-logo.png">
      <p class="App-title">con</p>
      <article class="App-logos">
        <div><img src="./images/Bloques-de-madera.jpg"></div>
        <div><img src="./images/Caja-de-los-recuerdos-deportivos.jpg"></div>
        <div><img src="./images/lucotmo.png"></div>
      </article>
      <picture>
        <source srcset="./images/lucotmo-logo.png" media="(min-width: 64em)"/>
        <source srcset="./images/lucotmo.png" media="(min-width: 48em)"/><img src="./images/lucotmo.png"/>
      </picture>
      <picture>
        <source srcset="./images/productos.webp" type="image/webp"/><img src="./images/productos.jpg"/>
      </picture>
    </main>
    <script src="./js/app.js"></script>
  </body>
</html>

src/pug/pages/index.pug
extends ../includes/layout.pug
include ../includes/components/image.pug
include ../includes/components/image_webp.pug

block metatags
  -var title = 'Boilerplate Frontend'
  -var description = 'Boilerplate para el desarrollo de proyectos Frontend'
  title= title
  meta(name="description", content=description)
  meta(name="application-name", content=title)
block content
  main.App
    h1.App-title= title
    i.fa.fa-smile-o.fa-5x
    img.App-logo(src="./images/lucotmo-logo.png")
    p.App-title con
    article.App-logos
      div
        img(src="./images/Bloques-de-madera.jpg")
      div
        img(src="./images/Caja-de-los-recuerdos-deportivos.jpg")
      div
        img(src="./images/lucotmo.png")
    //-p
      b
        a.u-download(href="#", target="_blank") #[i.fa.fa-download] Descarga este Boilerplate #[i.fa.fa-download]
    +image('lucotmo.png', [ ['lucotmo-logo.png', '(min-width: 64em)'], ['lucotmo.png', '(min-width: 48em)'] ])
    +imageWebp('productos')
    //-div.App-video
      +youtubeVideo('nyC6vSwwtEs')
    //-h2 Hola Chic@s delcurso CSS Avanzado
